@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
section {
  width: 70%;
  margin: 3em auto;
}
/* START OF NAVBAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #74a6ea;
  height: 4em;
  display: flex;
  justify-content: flex-start;
}


li a {
  
  display: block;
  color: white;
  text-align: center;
  padding: 0px 20px;
  line-height: 4em;
  text-decoration: none;
  height: 100%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(116, 160, 219);
  cursor:pointer;
}
#logo {
  height: 100%;
  display: block;
}
#title {
  float: right;
}

/* END OF NAVBAR */



#ceo {
  height: 20vh;
  display: flex;
  flex-direction: row;
}
#ceo p {
  padding: 0 5%;
}